<!DOCTYPE html>
<html>
  <app-sidenav></app-sidenav>
  <head> </head>
  <body>
    <div>
      <h2>Create Client</h2>
      <div class="container">
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" formControlName="fullName" />
          </div>

          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" />
          </div>

          <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" formControlName="phoneNumber" />
          </div>

          <div>
            <label for="address">Address:</label>
            <textarea id="address" formControlName="address"></textarea>
          </div>

          <button type="submit" [disabled]="clientForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
